@import '../../assets/styles/constants.scss';

.container {
    background-color: $color-light;
    padding: 40px 20px;
    width: 23%;
    min-width: 200px;
    display: block;
    margin: 10px;
}

.cart-img {
    width: 100%;
    box-shadow: 2px 0px 20px 5px rgba(0, 0, 0, 0.2);

}

.img-container {
    margin-bottom: 30px;
    background-color: transparent;
    padding: 0px 50px;
}

.title {
    @include font(18px, 600, $color-black);
    margin-bottom: 14px;
}

.authors {
    @include font(16px, 200, $color-grey);
}

.category {
    @include font(16px, 200, $color-grey);
    margin-bottom: 14px;
}