@import '../../assets/styles/constants.scss';

.book {
    display: flex;
}

.book-data {
    width: 50%;
    padding: 50px;
}

.title {
    @include font(24px,500,$color-black);
    margin-bottom: 30px;
}

.description {
    @include font(14px,400,$color-black);

}

.categories {
    @include font(14px,200,$color-grey);
    margin-bottom: 50px;
}

.author-container {
    display: flex;
    margin-bottom: 30px;
}

.author {
    @include font(14px,200,$color-grey);
    margin-right: 5px;
}

.img-container {
    padding: 50px 100px;
    background-color: $color-grey;
}